{% extends "base.html" %}
{% block title %} Profile of {{request.user.first_name}} {{request.user.last_name}} {% endblock title %}
{% block body %}

<div class=" flex flex-col items-center justify-center p-6 space-y-4 md:space-y-6 sm:p-8">
  <div class="mt-10  justify-center mb-5 ">
    <img src="{{request.user.pic.url}}" class="rounded-full h-40 w-40" alt="" />
  </div>
  <div class="flex flex-col md:flex-row items-center justify-center">
    <div class="flex justify-center px-5 py-3 ">
      <p class="font-bold text-3xl text-gray-900 dark:text-white">{{request.user.first_name}}
        {{request.user.last_name}}</p>
    </div>
    <div class="flex justify-center px-5 ">
      <div class="border-b-2 border-gray-500 w-full"></div>
    </div>
    <div class="grid grid-cols-1 text-center p-5">
      <div class="border-4 flex  flex-col  text-center text-gray-900 dark:text-white items-center justify-around border-teal-500">
        <p class="font-semibold py-2">Profession</p>
        <p>{{request.user.profession}}</p>
      </div>
      <div class="border-4 flex flex-col  text-center text-gray-900 dark:text-white  items-center justify-around border-teal-500">
        <p class="font-semibold py-2">Address</p>
        <p>{{request.user.address}}</p>
      </div>
      <div class="border-4 flex flex-col  text-center text-gray-900 dark:text-white  items-center justify-around border-teal-500">
        <p class="font-semibold py-2">Email</p>
        <p>{{request.user.email}}</p>
      </div>
    </div>
    <div class="flex justify-center px-5 ">
      <div class="border-b-2 border-gray-500 w-full"></div>
    </div>
    <div class="flex justify-center text-center p-5">
      <p class="text-gray-900 dark:text-white">{{request.user.bio}}</p>
    </div>
    <div class="flex flex-col sm:flex-row  items-center justify-center gap-2 p-6">
      <a href="{% url "home:profile_upd" request.user.username %}"
        class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update
        Profile</a>
      <a href="{% url "home:profile_dlt" request.user.username %}"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Delete
        Profile</a>
        <a href="{% url "password_change" %}"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Password Change</a>
    </div>
  </div>
</div>

{% endblock body %}



