{% extends 'base.html' %}
{% block title %}Friends Blog | Update Your Profile
{% endblock title %}
{% load widget_tweaks %}

{% block body %}
{% comment %} {% load tailwind_filters %} {% endcomment %}
<div class="container m-auto ">
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Update Profile Details</h2>
        <div class="m-5 text-red-500 dark:text-red-400">
          {% if messages %}
                {% for message in messages %}
                    <div>
                      <p id="standard_error_help" class="mt-2 text-xl text-red-600 dark:text-red-400"><span class="font-bold">Oh, snapp!</span>{{message}}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
              <div class="sm:col-span-2">
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Userame</label>
                  {% render_field form.username type="text" name="name" id="name" class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="Apple iMac 27&ldquo;" placeholder="Type product name" required="" %}
              </div>
              <div class="sm:col-span-2">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                {% render_field form.email type="text" name="email" id="email" class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"  placeholder="Enter Your Email" required="" %}
              </div>
              <div class="w-full">
                  <label for="fname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                  {% render_field form.first_name type="text" name="fname" id="fname" class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"  placeholder="Enter First Name" required="" %}
              </div>
              <div class="w-full">
                  <label for="lname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                  {% render_field form.last_name type="text" name="lname" id="lname" class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"  placeholder="Enter Last Name" required="" %}
              </div>
              <div class="w-full">
                <label for="fname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                {% render_field form.address type="text" name="address" id="address" class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"  placeholder="Enter Your Address" required="" %}
            </div>
            <div class="w-full ">
                <label for="lname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Profession</label>
                {% render_field form.profession type="text" name="profession" id="profession" class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"  placeholder="Enter Your Profession" required="" %}
            </div>
            <div class="w-full sm:col-span-2">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload Image</label>
            {% render_field form.pic class+="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input"  type="file" %}
          </div>
              <div class="sm:col-span-2">
                  <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bio</label>
                  {% render_field form.bio id="description" rows="3" class+="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Write Your Bio  here..." %}
              </div>
          </div>
          <div class="flex items-center space-x-4">
              <button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                  Update Details
              </button>
          </div>
      </form>
    </div>
  </section>
</div>


{% endblock body %}





