{% extends 'base.html' %}
{% block title %}Friends Blog | Password Change Done{% endblock title %}
{% block body %}

<div class="container m-auto">
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-md text-center lg:py-16 lg:px-12">
        <h1 class="mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 lg:mb-6 md:text-5xl xl:text-6xl dark:text-white">Password Change Successfull</h1>
        <p class="font-light text-gray-500 md:text-lg xl:text-xl py-4 mb-8 dark:text-gray-400">Your have successfully Changed your password. Now your can go on.</p>
        <a class="text-white bg-blue-700 hover:bg-blue-800  focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" href="{% url "home:home" %}">Go to Home</a>
    </div>
</section>
</div>

{% endblock body %}