{% extends 'base.html' %}
{% block title %}CodeBlog | Read Post : {{post.title}}{% endblock title %}
{% block body %}

<div class="container m-auto">
  <div class="flex justify-center">
    <div class="flex flex-col justify-center">
      <div class="flex flex-col md:flex-row max-w-7xl justify-center items-center ">
        <div class="overflow-hidden w-full m-4 shadow-sm flex flex-col md:flex-row justify-center">
          <div class="flex flex-col md:flex-row items-center">
            <div class=" w-full overflow-hidden"> <img src="{{post.image.url}}" alt="" class="" /> </div>
            <div class="md:w-2/3 m-4 ">
              <div class="flex text-gray-500 text-sm m-2">
                <div class="m-1">{{post.created_at}}</div>
              </div>
              <div class="font-bold text-black text-xl m-2">{{post.title}} </div>
              <div class="text-sm text-gray-500 mt-4 m-2">{{post.content}}</div>
              <div class="flex cursor-pointer mt-5">
                <div class="m-2"> <img src="" alt="" class=" rounded-full" />
                </div>
                <div class="grid m-1">
                  <div class="font-bold text-sm hover:text-gray-600 mt-2">{{post.author}} </div>
                </div>
                {% if user.is_authenticated %}
                <div class="ml-5 ">
                  <a href="{% url 'blog:post_upd' post.slug %}"
                    class="bg-indigo-600 hover:bg-indigo-700 rounded-xl ml-2 px-2 py-3 shadow-xl font-bold text-white mt-2 text-center">Update
                    Post</a>
                  <a href="{% url 'blog:post_dlt' post.slug %}"
                    class="bg-indigo-600 hover:bg-indigo-700 rounded-xl ml-2 px-2 py-3 shadow-xl font-bold text-white mt-2 text-center">Delete
                    Post</a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container m-auto bg-gray-200 p-4 rounded-xl">
    <hr class="my-2">
    <h1 class="text-2xl  font-bold ">Comments ... </h1>
    <hr class="my-2">
    {% if not post.comments.all %}
    <h2 class="text-lg font-semibold text-gray-400">No Cdomments Yet.</h2>
    <a href="{% url 'blog:post_addcom' post.slug %}">
      <label class="inline-block text-gray-800 text-sm sm:text-base mb-2">Add Comment</label>
      <br>
      <input
        class="w-1/4 bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 cursor-pointer" />
    </a>
    {% else %}
    <a href="{% url 'blog:post_addcom' post.slug %}">
      <label class="inline-block text-gray-800 text-sm sm:text-base mb-2">Add Comment</label>
      <br>
      <input type="none"
        class="w-1/4 px-1 bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded-xl outline-none transition duration-100 cursor-pointer"
        autocomplete="false" placeholder="Click To add Comment" />
    </a>
    <br>
    {% for comment in post.comments.all %}
    <div class="bg-slate-300 px-2 py-2 rounded-xl my-2 flex items-center justify-between">
      <div class="mr-2">
        <p class="font-bold text-lg">{{comment.name}} on {{comment.created_on}}</p>
        <br>
        <p class="text-gray-500">{{comment.body}}</p>
      </div>
      {% if user.is_authenticated %}
      <div class="flex flex-col">
        <a class="bg-indigo-500 mx-2 my-2 px-2 py-2 rounded-xl text-white font-bold shadow-md hover:bg-indigo-600" href="{% url 'blog:post_updcom' post.slug comment.id %}">Update</a>
        <a class="bg-indigo-500 mx-2 my-2 px-2 py-2 rounded-xl text-white font-bold shadow-md hover:bg-indigo-600" href="{% url 'blog:post_dltcom' post.slug comment.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
    {% endif %}
  </div>


  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</div>


{% endblock body %}