{% extends 'base.html' %}
{% block title %}CodeBlog | Update Comment on Post -- {{post.title}}{% endblock title %}
{% block body %}
{% load widget_tweaks %}
{% comment %} {% load tailwind_filters %} {% endcomment %}
<div class="container m-auto ">
  <form class="w-2/3 m-auto" method="post" enctype="multipart/form-data">
    <div class="">
      {% csrf_token %}
      {% render_field form.body type="name" class+="p-5 w-full text-md text-gray-900 border-0 focus:ring-0 dark:text-white dark:placeholder-gray-400 dark:bg-gray-800 rounded-xl m-5" placeholder="Enter your opinion..." %}
    </div>
    <div class="text-center mt-7">
      <button
        class="inline-flex items-center py-2.5 px-4 text-xl font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800" type="submit">Update Comment</button>
    </div>
  </form>
</div>


{% endblock body %}
